@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:wght@700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Noto+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Sarala:wght@400;700&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #55439e, #952fff);
}

.main-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url('/Glassmorphism/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-left-bottom {
    position: absolute;
    left: 20px;
    bottom: 65px;
    width: 284px;
    height: 284px;
}

#img-left-top {
    width: 290.25px;
    height: 267.16px;
    position: absolute;
    top: -100;
    left: -30;
}

#img-right {
    width: 550px;
    height: 610px;
    position: absolute;
    right: 0;
    top: 50;
}

.info {
    width: 100%;
    max-width: 1117px;
    z-index: 9;
    display: flex;
    justify-content: space-between;
}

.info_title {
    width: 480px;
}

.info_title h1 {
    font-family: Lato, sans-serif;
    width: 431px;
    font-style: normal;
    font-weight: bold;
    font-style: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}

.info_title p {
    width: 383px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: white;
    margin-top: 0;
    margin-bottom: 60px;
}

.info_submit {
    width: 100%;
    position: relative;
}

.info_submit input {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    /*! Video 27:41 */
}

.info_submit button {
    width: 120px;
    height: 60px;
    background-color: #4f3aa7;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: white;
    outline: none;
    border: none;
    position: absolute;
    top: 12px;
    right: 0;
}